@charset "utf-8";

.subNav{width: 72px; height: 100%; transition: .3s; position: absolute; top: 0; left: -72px;}
.subNav.open{left: 0;}
.ul{width: 100%; height: 100%}
.li{width: 100%; height: 74px; color: #888; position: relative; cursor: pointer;}
.li.active{color: #fff;}
.li:hover{background: rgba(255, 255, 255, .1);}
.p{width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.svg{display: block; margin: 0 auto; font-size: 1.9rem; margin-bottom: 10px;}
.span{display: block; margin: 0 auto; text-align: center; width: 100%;}