@charset "utf-8";

/* header */
header{width: 100%; height: 56px; background: #212121; position: relative; text-align: center;}
header:after{content: ''; display: block; clear: both;}

/* .buttonBox */
header > .buttonBox{width: 72px; height: 100%; position: relative; float: left;}
header > .buttonBox > .buttonWrap{width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; cursor: pointer;}
header > .buttonBox > .buttonWrap >  button{width: 18px; height: 12px; background: none; box-shadow: none; border: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; cursor: pointer;}
header > .buttonBox > .buttonWrap >  button > span{display: block; width: 100%; height: 2px; background: #fff;}
header > .buttonBox > .buttonWrap >  button > span:nth-of-type(2){margin: 3px 0;}

/* .logoWrap */
header > .logoWrap{display: block; float: left; height: 100%; padding: 18px 0;}
header > .logoWrap > img{display: block; width: 90px;}

/* form */
header > form{display: inline-block; height: 30px; margin: 13px 0;}
header > form:after{content: ''; display: block; clear: both;}
header > form > .inputWrap{width: 575px; height: 100%; position: relative; background: #000; border: 1px solid rgb(48, 48, 48); float: left;}
header > form > .inputWrap > input{width: calc(100% - 40px); height: 100%; background: transparent; font-size: 1.6rem; padding: 0 10px; color: #ccc; font-weight: lighter !important;}
header > form > .inputWrap > input::placeholder{color: #aaa;}
header > form > .inputWrap > .keyboardButton{width: 40px; height: 100%; position: relative; background: none; box-shadow: none; border: none; cursor: pointer;}
header > form > .inputWrap > .keyboardButton > svg{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #999; font-size: 1.6rem}
header > form > .searchButton{width: 65px; height: 100%; float: left; background: rgb(48, 48, 48); box-shadow: none; border: none; cursor: pointer; line-height: 32px; text-align: center;}
header > form > .searchButton > svg{color: #999; font-size: 1.4rem;}
header > form > .voiceButton{float: left; background: none; box-shadow: none; border: none; width: 40px; height: 100%;  cursor: pointer;}
header > form > .voiceButton > svg{color: #fff; font-size: 1.8rem}

/* .rightBox */
header > .rightBox{display: block; float: right; height: 100%; margin-right: 16px;}
header > .rightBox > .appButton{width: 40px; height: 40px; background: none; box-shadow: none; border: none; margin: 8px 0; cursor: pointer;}
header > .rightBox > .appButton > svg{color: #fff; font-size: 1.7rem;}
header > .rightBox > .settingButton{width: 40px; height: 40px; background: none; box-shadow: none; border: none; margin: 8px 0; cursor: pointer;}
header > .rightBox > .settingButton > svg{color: #fff; font-size: 1.7rem;}
header > .rightBox > .loginButton{border: 1px solid #3ea6ff; background: none; box-shadow: none; color: #3ea6ff; width: 94px; height: 40px; line-height: 40px; margin: 8px 0; cursor: pointer;}
header > .rightBox > .loginButton > svg{font-size: 2.2rem; margin: 8px 8px 8px 0;}
header > .rightBox > .loginButton > span{font-size: 1.3rem}