@charset "utf-8";

*{margin: 0; padding: 0; border: none; outline: none; vertical-align: top; box-sizing: border-box;}
html{width: 100%; height: 100%; font-size: 0.625em; line-height: 1.15; -webkit-text-size-adjust: 100%;}
body{width: 100%; height: 100%; display: flex; flex-direction: column; overflow-x: hidden; position: relative; background: #212121;}
main{display: block;}
.main{flex: 1 0 auto;}
footer{flex-shrink: 0;}
ul{list-style-type: none;}
a{text-decoration: none; background-color: transparent;}
img{border: none;}